
.global-container{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}

form{
    padding-top: 10px;
    font-size: 14px;
    margin-top: 30px;
}

.login-form{
    width: 380px;
    height: 500px;
    margin: 20px;
    border-radius: 20px !important;
}

.signup-form{
    width: 850px;
    height: 620px;
    margin: 20px;
    border-radius: 20px !important;
}

input[type="email"],
input[type="password"],
input[type="text"]{
    border: 1px thin thistle;
    margin-bottom: 25px;
    height: 35px;
}

.btn{
    border-radius: 25px !important;
    border: 0px !important;
    text-align: center;
    width: 132px;
    height: 35px;
    margin-right: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.btn-login{
    background: #a30fb0 !important;
}

.btn-signup{
    background: #03167c !important;
}

img{
    margin-bottom: 25px;
}