/* general */


body{
    font-family: 'Montserrat', sans-serif;
}

.btn{
    border-radius: 20px;
    text-align: center;
    padding-bottom: 20px;  
}

/* header */

.navbar{
    border-bottom: 3px solid #b916c7;
    background-color: white;
}
  
.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
    margin-right: 1rem;
}

.btn-logout{
    background-color: #a30fb0;
    width: 132px;
    height: 35px;
    margin-right: 14px;
}

/* footer */

footer{
    background-color: #a30fb0;
    height: 40px;
    text-align: center;
    padding-bottom: 20px;
}

/* sidebar */
  
.sidebar {
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    padding: 30px 0 0; /* navbar height */
    box-shadow: inset -3px 0 0 rgba(163, 15, 176, .1);
    background-color: white;
}
  
.sidebar .nav-item a {
    color: gray;
} 

.sidebar .nav-link.active {
    color: black;
}
  
.sidebar .nav-link .feather {
    margin-right: 10px;
    color: gray;
}

.sidebar .nav-link:hover,
.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: black;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/* general, events */

.card-event {
    margin-top: 30px;
    border-radius: 5%;
    min-height: 535px;
}

.card-event-title {
    font-weight: bold;
}

.btn-previous {
    background-color: #a30fb0;
    color: #FFFFFF;
    font-size: xx-large;
    position: fixed;
    bottom: 50px;
    left: 80px;
    height: 60px;
    width: 60px;    
    margin-bottom: 30px;
    border-radius: 30px;
    box-shadow: 1px 3px 5px #888888;
}

.picture{
    position: relative;
    object-fit: fill;
    border-radius: 5%;
    border: 5px solid #CCCCCC;
    overflow: hidden;
    transition: all 0.2s;
}

.picture:hover{
    border-color: #2ca8ff;
}

.picture input[type="file"] {
    cursor: pointer;
    opacity: 0 !important;
}

/* manage events */

.card-img-top {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.cropped {
    height: 350px; /* height of container */
    object-fit: cover;
}

.btn-view {
    background-color: #eb078b;
    color: white !important;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
    height: 35px;
}

.btn-add {
    background-color: #a30fb0;
    color: #FFFFFF;
    font-size: xx-large;
    position: fixed;
    bottom: 50px;
    left: 80px;
    height: 60px;
    width: 60px;
    margin-bottom: 30px;
    border-radius: 30px;
    box-shadow: 1px 3px 5px #888888;
}

.img-container {
    position:relative;
    display:inline-block;
    text-align:center;
}

.btn-delete {
    background-color: red;
    font-weight: bold;
    font-size: large;
    color: white !important;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    box-shadow: 1px 3px 5px #888888;
}

/* add event */

.btn-add-submit{
    background-color: #eb078b;
    color: white !important;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
    height: 35px;
}

/* view event */

.btn-edit-update {
    background-color: #eb078b;
    color: white !important;
    width: 100px;
    height: 35px;
    margin: 20px 10px 20px 10px;
}

.card-img-left {
    height: 200px;
}
