/* general */


body{
    font-family: 'Montserrat', sans-serif;
}

.btn{
    border-radius: 20px;
    text-align: center;
    padding-bottom: 20px;  
}

/* header */

.navbar{
    border-bottom: 3px solid #b916c7;
    background-color: white;
}

.navbar .nav-item a{
    color: #0000;
}
  
.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

#profileIcon {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 2rem;
    padding-left: 5px;

}

.btn-logout{
    background-color: #a30fb0;
    width: 132px;
    height: 35px;
    margin-right: 14px;
}

/* footer */

footer{
    background-color: #a30fb0;
    height: 40px;
    text-align: center;
    padding-bottom: 20px;
}

/* sidebar */
  
.sidebar {
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    padding: 30px 0 0; /* navbar height */
    box-shadow: inset -3px 0 0 rgba(163, 15, 176, .1);
    background-color: white;
}
  
.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* scrollable contents if viewport is shorter than content. */
}
  
.sidebar .nav-item a {
    color: gray;
} 

.sidebar .nav-link.active {
    color: black;
}
  
.sidebar .nav-link .feather {
    margin-right: 10px;
    color: gray;
}

.sidebar .nav-link:hover,
.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: black;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/* general, profile */

.card-event {
    margin-top: 30px;
    border-radius: 5%;
}

.card-event-title {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-previous {
    background-color: #a30fb0;
    color: #FFFFFF;
    font-size: x-large;
    position: fixed;
    bottom: 80px;
    left: 80px;
    height: 50px;
    width: 50px;    
    margin-top: 20px;
    border-radius: 30px;
    box-shadow: 1px 3px 5px #888888;
}

.picture-container{
    position: relative;
    cursor: pointer;
    text-align: center;
    height: 350px;
    width: 100%;
}

.picture{
    height: fit-content;
    width: fit-content;
    background-color: #999999;
    border: 5px solid #CCCCCC;
    border-radius: 5%;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.picture:hover{
    border-color: #2ca8ff;
}

.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.cropped {
    height: 350px; /* height of container */
    object-fit: cover;
}

.btn-no {
    color : #F4C110;
    background-color: white;
    border-radius: 20px;
    border-color: rgb(170, 168, 168);
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100px;
    height: 35px;
}

/* manage profile */

.card-img-top {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.btn-view {
    background-color: #F4C110;
    color: black !important;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100px;
    height: 35px;
}


.img-container {
    position:relative;
    display:inline-block;
    text-align:center;
}

/* view profile */

.card-img-left {
    height: 200px;
}

/* pagination */

.pagination > .active > a
{
    color: white !important;
    background-color: #F4C110 !Important;
    border: solid 1px #ddd !Important;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #8f0857;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > li > a
{
    background-color: white;
    color: #F4C110 ;
}

.pagination > .active > a:hover
{
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181;
}

/* modal */

.modal-header{
    background-color: #a30fb0;
}

.modal-title {
    color: white;
}

