.profile_picture img{
    height: 208px;
    width: 200px;
    background-color: #c4c4c4;
    object-fit: fill;
}

.details{
    border-radius: 20px;
}

.modal-header{
    background-color: #a30fb0;
}

.card-img-top{
    height: 12rem;
    width: auto;
    object-fit: fill;
}

.card-header{
    background-color: #03167c;
}

.card-footer{
    background-color: #F4C110;
}

.btn-more{
    background-color: #eb078b;
}

#addImagePreview{
    object-fit: fill;
}