.profile_picture img{
    height: 208px;
    width: 200px;
    background-color: #c4c4c4;
}

.details{
    border-radius: 20px;
}

.modal-header{
    background-color: #a30fb0;
}

.card-img-top{
    height: 15rem;
}

.card-header{
    background-color: #a30fb0;
}

.btn-more{
    background-color: #a30fb0;
}