.profile_picture img{
    height: 208px;
    width: 200px;
    background-color: #c4c4c4;
    object-fit: cover;
}

.details{
    border-radius: 20px;
}

.modal-header{
    background-color: #a30fb0;
}

.card-img-top{
    height: 12rem;
    width: auto;
    object-fit: cover;
}

.card-header{
    background-color: #03167c;
}

.card-footer{
    background-color: #F4C110;
}

.btn-more{
    background-color: #eb078b;
    height: 40px;
    width: auto;
}

#addImagePreview{
    object-fit: cover;
}


/* edit form css */

.manage-profile{
    border-radius: 20px;
}

.contacts{
    border-radius: 50px;
}

.card-header-editForm{
    background-color: #a30fb0;
}

.btn-editForm{
    height: 40px;
    width: 160px;
}

.btn-save{
    background-color: #a30fb0;
    margin-left: 20px;
    text-decoration: none;
}

.modal-header{
    background-color: #a30fb0;
}

.btn-cancel{
    padding: 7px 46px 7px 46px;
    border-color: black;
}

.btn-closed{
    background-color: #ced4da;
}

.btn-confirm{
    background-color: #a30fb0;
}

.updateImage{
    border-radius: 20px;
    background-color: #a30fb0;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}

#submitEdit{
    border-radius: 30px;
    background-color: #a30fb0;
    border: none;
    margin-left: 10px;
    padding: 8px 26px 8px 26px;
}

#submitDelete{
    border-radius: 30px;
    border: none;
    padding: 8px 40px 8px 40px;
}